<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <% @list = [1,2,3] %>
    <h1>Testing converter</h1>
    <h2>Interpolating</h2>
    <ul>
      <li>Numbers work: <%= 2 + 2 %></li>
      <li>Binaries work: <%= "a" <> "b" %></li>
      <li>Char lists work: <%= 'a' + 'b' %></li>
    </ul>

    <h2>Comprehensions</h2>
    <ul>
      <%= for name <- names do %>
        <li><%= name %></li>
      <% end %>
    </ul>

    <h2>Anonymous functions</h2>
    <h3>Single argument without parentheses</h3>
    <ul>
      <%= Enum.map names, fn name -> %>
        <li><%= name %></li>
      <% end %>
    </ul>

    <h3>Single argument with parentheses</h3>
    <ul>
      <%= Enum.map names, fn(name) -> %>
        <li><%= name %></li>
      <% end %>
    </ul>

    <h3>Multiple arguments with parentheses</h3>
    <ul>
      <%= Enum.map names, fn(a, b, c) -> %>
        Test
      <% end %>
    </ul>

    <h2>Control flow statements</h2>
    <%= if condition do %>
      Test
    <% end %>

    <%= if 1+1 do %>
      Test
    <% else %>
      Test
    <% end %>

    <%= case a do %>
    <% 1 -> %>
      Test
    <% 2 -> %>
    <% _ -> %>
      Test
    <% end %>

    <%= cond do %>
    <% false %>
      1
    <% true %>
      2
    <% end %>

    <h2>Elaborate elixir</h2>
    <%= SomeModule.some_function(arg1, foo: "bar") %>
    <%=
      MultiLine.works(
        a, b, c, d
      )
    %>
  </body>
</html>